# Database setup for prod
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

# CORS
ALLOWED_ORIGINS=*

# Email config
SENDER_EMAIL=
SENDER_PASSWORD=

# Security
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=
ADMIN_SECRET_KEY=

# For local development only
DATABASE_URL=

# dev vs prod
ENVIRONMENT=dev | prod